*.out
*aux
*blx.bib 
*bcf 
*.run.xml 
*bbl 
*blg 
*.log 
*toc 
*.ptb 
*.tod 
*.fls 
*.fdb_latexmk 
*.lof
*synctex.gz
*.nav
*.snm
*.vrb
report.pdf
slides.pdf
code/.ipynb_checkpoints/
code/cache/
code/data/temp-order.dzn
code/data/temp-order-cheat.dzn
code/out.txt
code/graph*png
