report/*.out
report/*aux
report/*blx.bib 
report/*bcf 
report/*.run.xml 
report/*bbl 
report/*blg 
report/*.log 
report/*toc 
report/*.ptb 
report/*.tod 
report/*.fls 
report/*.fdb_latexmk 
report/*.lof
report/*synctex.gz
report/report.pdf
code/.ipynb_checkpoints/
code/cache/

